.music-main {
    position: fixed;
    bottom: 20px;
    left: 20px;
    height: auto;
    width: auto;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 999;
}

.music-main>.sound {
    display: none;
}

.music-main>.buttons {
    height: auto;
    width: auto;
}

.music-main>.buttons>.volume {
    background-color: aqua;
    transform: rotateZ(-90deg) translate(20px);
}

.music-main>.buttons>.volume {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    background: transparent;
    outline: none;
    border: 5px solid var(--heaven-primary);
    border-radius: 8px;
    opacity: 0;
    transition: 0.4s ease;
}

.music-main>.buttons>.volume:hover {
    opacity: 1;
}


/* for chrome/safari */

.music-main>.buttons>.volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 40px;
    background: var(--hell-primary);
    cursor: pointer;
    border: 5px solid var(--hell-primary);
    border-radius: 4px;
}


/* for firefox */

.music-main>.buttons>.volume::-moz-range-thumb {
    width: 20px;
    height: 40px;
    background: var(--hell-primary);
    cursor: pointer;
    border: 5px solid var(--hell-primary);
    border-radius: 4px;
}