.home-about>div {
    width: 80%;
    margin: auto;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home-about>.header>h1 {
    font-size: 3rem;
    color: var(--light-primary);
    font-weight: 400;
}

.home-about>.header>h1::first-letter {
    font-family: cursive;
    color: var(--hell-primary);
}

.home-about>div>.main-content>.content {
    width: 60%;
    padding: 20px;
    border-radius: 16px;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.155);
    border: 0.1px solid var(--hell-primary);
    background-size: cover;
    transition: 0.3s ease-in-out all;
}

.home-about>div>.main-content {
    perspective: 2000px !important;
    -webkit-perspective: 2000px !important;
}

.home-about>div>.main-content:nth-child(even)>.content {
    transform-origin: left;
    transform: rotateX(0deg) rotateY(20deg) translateX(10px);
}

.home-about>div>.main-content:nth-child(odd)>.content {
    transform-origin: right;
    transform: rotateX(0deg) rotateY(-20deg) translateX(10px);
}

.home-about>div>.main-content:nth-child(even)>.content:hover {
    transform: rotateX(0deg) rotateY(-20deg) translateX(10px);
    /* background-image: url("./bg-main.svg"); */
}

.home-about>div>.main-content:nth-child(odd)>.content:hover {
    transform: rotateX(0deg) rotateY(20deg) translateX(-10px);
    /* background-image: url("./bg-main.svg"); */
}

.home-about>div>.main-content>.content>hr {
    width: 40%;
    background-color: transparent;
    padding: 1px;
}

@media screen and (max-width: 799px) {
    .home-about>div>.main-content>.content {
        width: 100%;
    }
    .home-about>div {
        width: 100%;
    }
    .home-about>.header>h1 {
        font-size: 2rem;
        text-align: center;
    }
}

.home-about>div>.main-content>.content>.content-head>h1 {
    font-size: 2rem;
    color: var(--light-primary);
    text-transform: uppercase;
}

@media screen and (max-width: 799px) {
    .home-about>div>.main-content>.content>.content-head>h1 {
        font-size: 1.3rem;
    }
}

.home-about>div>.main-content>.content>.content-head>h1::first-letter {
    font-family: cursive;
    color: var(--hell-primary);
}

.home-about>div>.main-content {
    border-top: 2px dashed;
    border-color: var(--hell-primary);
    margin: 0;
    padding: 30px;
    color: var(--light-primary);
    width: 100%;
    display: flex;
    align-items: center;
}

.home-about>div>.main-content:nth-child(even) {
    border-color: var(--hell-primary);
    border-left: 2px dashed var(--hell-primary);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-right: 30px;
    padding-right: 0;
    justify-content: start;
}

.home-about>div>.main-content:nth-child(odd) {
    border-color: var(--hell-primary) !important;
    border-right: 2px dashed;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-left: 30px;
    padding-left: 0;
    justify-content: end;
}

.home-about>div>.main-content:first-child {
    border-color: var(--hell-primary) !important;
    border-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.home-about>div>.main-content:last-child {
    border-color: var(--hell-primary);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}