@tailwind base;
@tailwind components;
@tailwind utilities;

/*Scrollbar   */

::-webkit-scrollbar {
    width: 3px;
}


/* Track */

::-webkit-scrollbar-track {
    background: var(--dark-primary);
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: var(--heaven-primary);
    border-radius: 12px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: var(--hell-primary);
    border-radius: 12px;
}

@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");
body {
    background-image: linear-gradient( to right top, var(--dark-primary), #1f0900, #170e0a, #000000);
}

body {
    font-family: "Mulish";
    background-size: border-box;
}


/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type="number"] {
    -moz-appearance: textfield;
}