@tailwind base;
@tailwind components;
@tailwind utilities;

/*Scrollbar   */

::-webkit-scrollbar {
    width: 2px;
}


/* Track */

::-webkit-scrollbar-track {
    background: var(--dark-primary);
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: var(--heaven-primary);
    border-radius: 12px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: var(--hell-primary);
    border-radius: 12px;
}

html {
    --section-background-color: linear-gradient( to bottom left, rgba(17, 16, 16, 0.582), rgba(12, 8, 24, 0.904));
    --image-gradient: linear-gradient( to bottom left, rgba(17, 16, 16, 0.678), rgba(12, 10, 22, 0.863));
    --imp-text-color: #240392;
}

@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");
body {
    background-image: linear-gradient( to right top, #008e87, #142029, #150a17, #000000);
}

body {
    font-family: "Mulish";
}


/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type="number"] {
    -moz-appearance: textfield;
}